
.header {
  padding: 800px 0px 800px 0px;
  font-size: 120px;
  text-align: center;
}

.center {
  text-align: center;
}

.image {
  padding: 800px 0px 800px 0px;
  font-size: 120px;
}

.img {
  border-radius: 200px;
}

.vid {
  height: 1800px;
  padding-top: 200px;
}
